header {
    text-align: center;
    margin-top: 3rem auto;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    border-top: solid;
    border-bottom: solid;
    border-color:rgba(97, 31, 204, 0.867);
    border-width: 8px;
}
.save-button-text {
    text-align:center
}
